<div class="page-container">
  <div class="results-header dropdown-header" data-action="click->dropdown-reveal#revealContent">
    <% count = 0
    unless @upcoming_trips == nil
      count = @upcoming_trips.length
    end
    %>
    <h1 style="display: inline">Upcoming trips (<%= count %>)</h1>
    <i class="caret-down fa-solid fa-angle-down" data-dropdown-reveal-target="arrow"></i>
  </div>
  <div class="invisible-div" data-dropdown-reveal-target="content">
    <% unless @upcoming_trips == nil
      @upcoming_trips.each do |trip| %>
      <!-- Define skipper if any -->
      <% skipper = trip.skipper.mates.where("is_user = true").first unless trip.skipper == nil %>
      <!-- Trip card -->
        <div class="trip-card">
          <div class="left-box">
            <%= link_to trip_path(trip) do %>
            <div class="trip-photo-box">
              <% if trip.photo.attached? %>
                <%= cl_image_tag(trip.photo.key, class: "mini-trip-photo") %>
              <% else %>
                <%= image_tag asset_path("default_trip_photo.jpg"), class: "mini-trip-photo" %>
              <% end %>
            </div>
            <% end %>
            <div class="trip-summary-box">
              <%= link_to trip_path(trip) do %>
                <h2><%= trip.country %></h2>
              <% end %>
              <p><%= trip.start_date.strftime("%a, %d %b %Y") %> → <%= trip.end_date.strftime("%a, %d %b %Y") %></p>
              <% trip.mates.length == 1 ? word = "mate" : word = "mates" %>
              <p> <%= "#{trip.mates.length} #{word}"%></p>
              <% unless skipper == nil %>
                <p><i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp;Skipper:&nbsp;<%= "#{skipper.first_name} #{skipper.last_name}" %></p>
              <% end %>
            </div>
          </div>
          <div class="right-box">
            <% origin = trip.creator == current_user ?  "me" : trip.creator.nickname %>
              <span> Created by<br/>
              <strong><%= origin %></strong>
              </span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="category-container" data-controller="dropdown-reveal">
    <div class="results-header dropdown-header" data-action="click->dropdown-reveal#revealContent">
    <% count = 0
    unless @upcoming_trips == nil
      count = @upcoming_trips.length
    end
    %>
      <h1 style="display: inline">Past trips (<%= count %>)</h1>
      <i class="caret-down fa-solid fa-angle-down" data-dropdown-reveal-target="arrow"></i>
    </div>
    <div class="invisible-div" data-dropdown-reveal-target="content">
      <% unless @past_trips == nil
        @past_trips.each do |trip| %>
          <!-- Define skipper if any -->
          <% skipper = trip.skipper.mates.where("is_user = true").first unless trip.skipper == nil %>
          <!-- Trip card -->
            <div class="trip-card">
              <div class="left-box">
                <%= link_to trip_path(trip) do %>
                  <div class="trip-photo-box">
                    <% if trip.photo.attached? %>
                      <%= cl_image_tag(trip.photo.key, class: "mini-trip-photo") %>
                    <% else %>
                      <%= image_tag asset_path("default_trip_photo.jpg"), class: "mini-trip-photo" %>
                    <% end %>
                  </div>
                <% end %>
                <div class="trip-summary-box">
                  <%= link_to trip_path(trip) do %>
                    <h2><%= trip.country %></h2>
                  <% end %>
                  <p><%= trip.start_date.strftime("%a, %d %b %Y") %> → <%= trip.end_date.strftime("%a, %d %b %Y") %></p>
                  <% trip.mates.length == 1 ? word = "mate" : word = "mates" %>
                  <p> <%= "#{trip.mates.length} #{word}"%></p>
                  <% unless skipper == nil %>
                    <p><i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp;Skipper:&nbsp;<%= "#{skipper.first_name} #{skipper.last_name}" %></p>
                  <% end %>
                </div>
              </div>
              <div class="right-box">
                <% origin = trip.creator == current_user ?  "me" : trip.creator.nickname %>
                <div style="text-align: right; padding: 0 32px">
                  <span> Created by<br/>
                  <strong><%= origin %></strong>
                  </span>
                </div>
                <div>
                  <div class="share-button sending-invitation-button" data-action="click->modal-reveal#toggleWindow">
                    <span><i class="fa-solid fa-share-from-square"></i> Share this trip </span>
                  </div>
                  <div style="text-align: right; padding: 0 32px">
                    <span class="edit-target">
                      <%= link_to edit_user_trip_path(@user, trip) do %>
                        <i class="fa-solid fa-pen-clip"></i>
                        Edit the trip
                      <% end %>
                    </span><br>
                    <span class="delete-target">
                      <%=link_to [@user, trip], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class="fa-solid fa-trash"></i>
                        Delete the trip
                      <% end %>
                    </span>
                  </div>
                </div>
              </div>
            </div>
      <% end %>
    <% end %>
  </div>
</div>
