<% if @trip.creator_id == current_user.id %>
  <div class="page-container">
    <!-- Trip card -->
    <div class="trip-card">
      <div class="left-box">
        <div class="trip-photo-box">
          <% if @trip.photo.attached? %>
            <%= cl_image_tag(@trip.photo.key, class: "mini-trip-photo") %>
          <% else %>
            <%= image_tag asset_path("default_trip_photo.jpeg"), class: "mini-trip-photo" %>
          <% end %>
        </div>
        <div class="trip-summary-box">
          <h3><%= @trip.country %></h3>
          <p><%= @trip.start_date.strftime("%a, %d %b %Y") %> → <%= @trip.end_date.strftime("%a, %d %b %Y") %></p>
          <% @trip.mates.length == 1 ? word = "mate" : word = "mates" %>
          <p> <%= "#{@trip.mates.length} #{word}"%></p>
        </div>
      </div>
      <div class="right-box">
        <% origin = @trip.creator == current_user ?  "me" : @trip.creator.nickname %>
        <div style="text-align: right">
          <span> Created by<br/>
          <strong><%= origin %></strong>
          </span>
        </div>
      </div>
    </div>

    <div class="results-container">
      <% @trip.mates.each do |mate|%>
          <div class="profile-container" data-controller="dropdown-reveal">
            <div class="results-header" data-action="click->dropdown-reveal#revealContent">
              <h1 style="display: inline"><%= "#{mate.first_name} #{mate.last_name}" %> </h1>
                <i class="caret-down fa-solid fa-angle-down"></i>
            </div>
          <div class="invisible-div display-none" data-dropdown-reveal-target="content">
            <div class="grid-container">
              <div class="left-column"><p>First name</p></div><div class="right-column"><p><%= mate.first_name%></p></div>
              <div class="left-column"><p>Last name</p></div><div class="right-column"><p><%= mate.last_name%></p></div>
              <div class="left-column"><p>Date of birth</p></div><div class="right-column"><p><%= mate.date_of_birth.strftime("%d %b %Y")%></p></div>
              <div class="left-column"><p>Address</p></div><div class="right-column"><p><%= mate.address%></p></div>
              <div class="left-column"><p>Phone number</p></div><div class="right-column"><p><%= mate.phone_number%></p></div>
              <div class="left-column"><p>Nationality</p></div><div class="right-column"><p><%= mate.nationality%></p></div>
              <div class="left-column"><p>Country of residence</p></div><div class="right-column"><p><%= mate.country_of_residence %></p></div>
              <div class="left-column"><p>Passport_number</p></div><div class="right-column"><p><%= mate.passport_number%></p></div>
              <div class="left-column"><p>expiration_date</p></div><div class="right-column"><p><%= mate.expiration_date.strftime("%d %b %Y")%></p></div>
            </div>
            <div class="flex-link-container">
              <!-- <%= link_to "Edit", edit_user_mate_path(@user.id, mate.id), class: "button-main" %> -->
              <div class="link-invisible-div">
                <%= link_to edit_user_mate_path(@user.id, mate.id) do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                    <span> edit</span>
                <% end %>
              </div>
              <% enrollment = Enrollment.find_by(mate: mate, trip: @trip) %>
              <i class="fa-solid fa-trash"></i><%= link_to "Remove Enrollment",
                enrollment_path(enrollment),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %></p>

            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= simple_form_for([@user, @trip, @enrollment], data: {turbo: false}) do |f| %>
        <%= f.collection_select :mate_id, @user.mates, :id, :first_name %>
        <%= f.collection_select :trip_id, @ur_trips, :id, :country %>
        <%#<% f.input_field :trip_id, value: @enrollment.trip_id %>
        <%= f.submit "Submit", class: "btn btn-success"%>
    <% end %>






    <i class="fa-solid fa-pen-to-square"></i><%= link_to "Edit ", edit_user_trip_path(@trip) %>
    <i class="fa-solid fa-trash"></i><%= link_to "Delete",
              [@user, @trip],
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %></p>
  </div>
<% else %>
  <%= link_to "Back to your trips", user_trips_path(@user), class: "button-main"%>
<% end %>
