<% if @trip.creator_id == current_user.id || @invited_users.include?(@user.id) %>
  <div class="page-container">
    <!-- Trip card -->

    <div class="trip-show-card" data-controller="modal-reveal">
      <div style="display: flex; flex-wrap: wrap">
        <div class="left-box">
          <div class="trip-photo-box">
            <% if @trip.photo.attached? %>
              <%= cl_image_tag(@trip.photo.key, class: "mini-trip-photo") %>
            <% else %>
              <%= image_tag asset_path("default_trip_photo.jpeg"), class: "mini-trip-photo" %>
            <% end %>
          </div>
          <div class="trip-summary-box">
            <h2><%= @trip.country %></h2>
            <p><%= @trip.start_date.strftime("%a, %d %b %Y") %> → <%= @trip.end_date.strftime("%a, %d %b %Y") %></p>
            <% @trip.mates.length == 1 ? word = "mate" : word = "mates" %>
            <p> <%= "#{@trip.mates.length} #{word}"%></p>
            <% unless @skipper == nil %>
              <p><i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp;Skipper:&nbsp;<%= "#{@skipper.first_name} #{@skipper.last_name}" %></p>
            <% end %>
          </div>
        </div>
        <div class="right-box">
          <% origin = @trip.creator == current_user ?  "me" : @trip.creator.nickname %>
          <div style="text-align: right; padding: 0 32px">
            <span> Created by<br/>
            <strong><%= origin %></strong>
            </span>
          </div>
          <div>
            <div class="share-button sending-invitation-button" data-action="click->modal-reveal#toggleWindow">
              <span><i class="fa-solid fa-share-from-square"></i> Share this trip </span>
            </div>
            <div style="text-align: right; padding: 0 32px">
              <span class="edit-target">
                <%= link_to edit_user_trip_path(@trip) do %>
                  <i class="fa-solid fa-pen-clip"></i>
                  Edit the trip
                <% end %>
              </span><br>
              <span class="delete-target">
                <%=link_to [@user, @trip], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-trash"></i>
                  Delete the trip
                <% end %>
              </span>
            </div>
          </div>
        </div>

            <!-- Modal for invitation  -->
            <div id="myModal" class="modal-window display-none" data-modal-reveal-target="modalWindow">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close" data-action="click->modal-reveal#toggleWindow">&times;</span>
                <h4>Share this trip to a friend</h4><br/>
                <p>They will be able to add themselves and their mates (children, partner, etc...) to the trip.</p>
                <%= simple_form_for [@user, @trip, @invitation] do |f| %>

                  <%= f.input :receiver_email, label: "Please enter their email" %>

                  <div class="flex-link-container">
                  <%= f.submit "Send invitation", class: "button-main" %>
                  </div>
                <% end %>
              </div>
            </div>

      </div>

      <!-- Mates (crew list) -->
      <div id="crew-list-container">
        <% count = 0 %>
        <% unless @trip.mates == nil %>
          <% count = @trip.mates.length %>
        <% end %>
        <h2 class="text-center">Current participants (<%= count %>)</h2>
          <!-- Div where we enroll crew members or add new mates -->
          <div class="profile-container-mates" data-controller="dropdown-reveal">
            <div class="results-header dropdown-header add-crew-member-button" data-action="click->dropdown-reveal#revealContent">
              <h3 style="display: inline"><i class="fa-solid fa-circle-plus"></i> Add a participant </h3>
                <i class="caret-down fa-solid fa-angle-down"></i>
            </div>

            <div class="invisible-div display-none" data-dropdown-reveal-target="content">
              <div class="multi-case-container">
                <div class="case-container"><!-- Case 1 : Select one of your available mates -->
                  <div >
                    <h4 class="text-center"><i class="fa-solid fa-clipboard-check"></i>&nbsp; <strong>Case 1</strong></h4>
                    <% @available_mates = @user.mates - @trip.mates %>
                      <p>Choose a participant among the list of your available mates (those that are already part of the crew list
                      do not appear in the list):</p>
                    <% if @available_mates.empty? %>
                      <p class="text-center"><em>Your list of available mates is empty. You first need to create them.</em></p>
                    <% end %>
                      <% @available_mates.each do |mate| %>
                        <%= simple_form_for([@user, @trip, @enrollment], data: {turbo: false}) do |f| %>
                        <%= f.input :mate_id, as: :hidden, input_html: { value: mate.id } %>
                        <div class="text-center">
                          <%= f.submit "#{mate.first_name} #{mate.last_name}", class: "crew-member-button" %>
                        </div>
                        <% end %>
                      <% end %>
                  </div>
                </div>
                <div class="case-container"><!-- Case 2 : Create a mate -->
                  <div>
                    <h4 class="text-center"><i class="fa-solid fa-user-plus"></i>&nbsp;    <strong>Case 2</strong>
                    </h4>
                    <!-- If the current user did not register himself as mate -->
                    <% if @user.mates.find{ |mate| mate.is_user } == nil %>
                    <p>
                      If you want to add yourself to the trip, first you have to register your personal information.
                      <%= link_to new_user_mate_path(@user, is_user: true, origin_page: trip_path(@trip.id)) do %>
                        <div class="addition-button" style="font-size: 18px" data-action="click->dropdown-reveal#revealContent">
                          <i class="fa-solid fa-circle-plus"></i> Fill in my info
                        </div>
                      <% end %>
                    </p>
                    <% end %>
                    <p>
                      If you want to add someone else who is not the list of your mates,
                      but you know their personal information. Create them as a new mate, so you can add them to any trip you want.
                    </p>
                    <%= link_to new_user_mate_path(@user, origin_page: trip_path(@trip.id)) do %>
                      <div class="addition-button" style="font-size: 18px" data-action="click->dropdown-reveal#revealContent">
                        <i class="fa-solid fa-circle-plus"></i> Create a new mate
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="case-container"><!-- Case 3 : Invite someone -->
                  <div>
                    <h4 class="text-center"><i class="fa-solid fa-share-from-square"></i>&nbsp; <strong>Case 3</strong></h4>
                    <p>
                      If you want to add some participants but do not know their informations,
                      send them an invitation to collaborate on the crew list. Like so, they will be able to add themselves as
                      participants, or add their children / family members whose they already know all personal details.
                    </p>
                    <div class="share-button sending-invitation-button" data-action="click->modal-reveal#toggleWindow">
                      <span><i class="fa-solid fa-share-from-square"></i> Share this trip </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div name="invisible-div-to-add-crew-members">
            <div class="display-none" data-dropdown-reveal-target="content">

            </div>
          </div>
          <% @trip.mates.each do |mate|%>
            <div class="profile-container-mates" data-controller="dropdown-reveal">
              <div class="results-header dropdown-header" data-action="click->dropdown-reveal#revealContent">
                <h3 class="skipper-name" style="display: inline">
                  <% if mate.is_user && mate.user_id == current_user.id %>
                    Me
                  <% else %>
                    <%= "#{mate.first_name} #{mate.last_name}" %>
                  <% end %>
                  <% if @trip.skipper_id == mate.user_id && mate.is_user %>
                      <em>- skipper&nbsp;</em>
                      <i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>
                  <% end %>
                </h3>
                  <i class="caret-down fa-solid fa-angle-down"></i>
              </div>
              <div class="invisible-div display-none" data-dropdown-reveal-target="content">
                <div class="grid-container">
                  <div class="left-column"><p>First name</p></div><div class="right-column"><p><%= mate.first_name%></p></div>
                  <div class="left-column"><p>Last name</p></div><div class="right-column"><p><%= mate.last_name%></p></div>
                  <div class="left-column"><p>Date of birth</p></div><div class="right-column"><p><%= mate.date_of_birth.strftime("%d %b %Y")%></p></div>
                  <div class="left-column"><p>Address</p></div><div class="right-column"><p><%= mate.address%></p></div>
                  <div class="left-column"><p>Phone number</p></div><div class="right-column"><p><%= mate.phone_number%></p></div>
                  <div class="left-column"><p>Nationality</p></div><div class="right-column"><p><%= mate.nationality%></p></div>
                  <div class="left-column"><p>Country of residence</p></div><div class="right-column"><p><%= mate.country_of_residence %></p></div>
                  <div class="left-column"><p>Passport_number</p></div><div class="right-column"><p><%= mate.passport_number%></p></div>
                  <div class="left-column"><p>expiration_date</p></div><div class="right-column"><p><%= mate.expiration_date.strftime("%d %b %Y")%></p></div>
                </div>
                <div class="flex-link-container">
                  <!-- <%= link_to "Edit", edit_user_mate_path(@user.id, mate.id), class: "button-main" %> -->
                  <div class="link-invisible-div text-center">
                    <% if mate.is_user %>
                      <div class="switch-container" >
                        <% if @trip.skipper_id == mate.user_id %>
                          <%= simple_form_for([@user, @trip], data: {turbo: false}) do |f| %>
                          <%= f.input :skipper_id, as: :hidden, input_html: { value: nil } %>
                            <div class="text-center" style="margin: 32px 16px">
                              <%= button_tag type: 'submit' , class: "crew-member-button negative-button" do %>
                                <i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp; <%= "Remove #{mate.first_name}'s role as skipper" %>
                              <% end %>
                            </div>
                          <% end %>
                        <% else %>
                          <!-- <input type="checkbox" id="switch" /><label for="switch"></label> -->
                          <%= simple_form_for([@user, @trip], data: {turbo: false}) do |f| %>
                          <%= f.input :skipper_id, as: :hidden, input_html: { value: mate.user_id } %>
                          <div class="text-center" style="margin: 32px 16px">
                            <%= button_tag type: 'submit' , class: "crew-member-button" do %>
                              <i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp; <%= "Set #{mate.first_name} as skipper" %>
                            <% end %>
                          </div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                    <span class="edit-target">
                      <%= link_to edit_user_mate_path(@user.id, mate.id, is_user: mate.is_user, origin_page: trip_path(@trip.id)) do %>
                        <i class="fa-solid fa-pen-clip"></i>
                          <span> edit info</span>
                      <% end %>
                      &nbsp;
                    </span>
                    <span class="delete-target">
                      &nbsp;
                      <% enrollment = Enrollment.find_by(mate: mate, trip: @trip) %>
                      <%= link_to enrollment_path(enrollment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class="fa-solid fa-trash"></i>
                          <span> Remove from this trip&nbsp;</span>
                      <% end %>
                    </span>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to "Back to your trips", user_trips_path(@user), class: "button-main"%>
<% end %>
