<% if @trip.creator_id == current_user.id || @invited_users.include?(@user.id) %>
  <div class="page-container">
    <!-- Trip card -->

    <div class="trip-show-card" >
      <div style="display: flex; flex-wrap: wrap" data-controller="modal-reveal">
        <div class="left-box">
          <div class="trip-photo-box">
            <% if @trip.photo.attached? %>
              <%= cl_image_tag(@trip.photo.key, class: "mini-trip-photo") %>
            <% else %>
              <%= image_tag asset_path("default_trip_photo.jpg"), class: "mini-trip-photo" %>
            <% end %>
          </div>
          <div class="trip-summary-box">
            <h2><%= @trip.country %></h2>
            <p><%= @trip.start_date.strftime("%a, %d %b %Y") %> → <%= @trip.end_date.strftime("%a, %d %b %Y") %></p>
            <% count = 0 %>
            <% unless @trip.mates == nil %>
              <% count = @trip.mates.length %>
            <% end %>
            <% count == 1 ? participant_word = "participant" : participant_word = "participants" %>
            <p>
              <%= "#{count} #{participant_word} (max #{@trip.max_capacity})" %>
            </p>
            <% unless @skipper == nil %>
              <p><i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp;Skipper:&nbsp;<%= "#{@skipper.first_name} #{@skipper.last_name}" %></p>
            <% end %>
          </div>
        </div>
        <div class="right-box">
          <% origin = @trip.creator == current_user ?  "me" : @trip.creator.nickname %>
          <div style="text-align: right; padding: 0 32px">
            <span> Created by<br/>
            <strong><%= origin %></strong>
            </span>
          </div>
          <div>
            <div class="share-button sending-invitation-button" data-action="click->modal-reveal#toggleWindow">
              <span><i class="fa-solid fa-envelope"></i> &nbsp; Send documentation</span>
            </div>
            <div style="text-align: right; padding: 0 32px">
              <span class="edit-target">
                <%= link_to edit_user_trip_path(@trip) do %>
                  <i class="fa-solid fa-pen-clip"></i>
                  Edit the trip
                <% end %>
              </span><br>
              <span class="delete-target">
                <%=link_to [@user, @trip], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-trash"></i>
                  Delete the trip
                <% end %>
              </span>
            </div>
          </div>
        </div>

        <!-- Modal for export  -->
        <div id="myModal" class="modal-window display-none" data-modal-reveal-target="modalWindow">
          <!-- Modal content for export -->
          <div class="modal-content">
            <span class="close" data-action="click->modal-reveal#toggleWindow">&times;</span>
            <h1 class="form-title text-center">Send the documentation</h1><br/>
            <p>
              If the crew list is finalized and includes all the crew member (do not forget yourself!), and if
              the correct person is registered as skipper and his nautical CV is complete and up-to-date, it
              is time to download all the documentation and send it to your charter agency.
            </p>
            <span>

            </span>
              <div class="export-form">
                <form action="<%= submit_summary_path %>" accept-charset="UTF-8" method="post" >
                  <input name="trip" id="trip" type="hidden" value="<%= @trip.id %>">
                  <label class="form-label" for="recipient"><strong>Enter your charter agent's email </strong></label>
                  <input class="form-control" type="email" name="recipient" id="recipient" placeholder="my_agent@company.com">
                  <div class="form-button-div text-center">
                  <div class="edit-target preview-button">
                    <%= link_to "/users/#{@user.id}/trips/#{@trip.id}/summary.pdf", target: "blank" do %>
                      <i class="fa-solid fa-eye"></i>&nbsp; Preview documentation
                    <% end %>
                  </div>
                    <button type="submit" name="commit" class="button-main" style="width:256px; border-radius: 8px"><i class="fa-solid fa-envelope"></i> &nbsp; Send</button>
                  </div>
                </form>
              </div>
              <%# Backend code for validating trip %>
              <!-- <%= form_with url: submit_summary_path, method: :post do |form| %>
                <%= form.hidden_field :trip, :value => @trip.id %>
                <span>Enter your charter agent's email</span><br/>
                <%= form.text_field :recipient, class: "text-center" %><br>
                <%= form.submit "Send", class: "button-main" %>
              <% end %> -->
          </div>
        </div>

      </div>

      <!-- Mates (crew list) -->
      <div id="crew-list-container">

        <% count = 0 %>
        <% unless @trip.mates == nil %>
          <% count = @trip.mates.length %>
        <% end %>

          <!-- Div where we enroll crew members or add new mates -->
          <div class="profile-container-mates" data-controller="dropdown-reveal">
            <div class="results-header dropdown-header add-crew-member-button" data-action="click->dropdown-reveal#revealContent">
              <h3 style="display: inline"><i class="fa-solid fa-circle-plus"></i> Add a crew member </h3>
                <i class="caret-down fa-solid fa-angle-down"></i>
            </div>

            <div class="invisible-div display-none" data-controller="modal-reveal" data-dropdown-reveal-target="content">
              <div class="multi-case-container">

                <% if count >= @trip.max_capacity %>
                  <div class="case-container negative-button"><!-- Case 0 : Max capacity reached -->
                    <div >
                      <h4 class="text-center"><i class="fa-solid fa-triangle-exclamation"></i>&nbsp; <strong>Maximum capacity reached</strong></h4>
                      <% @available_mates = @user.mates - @trip.mates %>
                        <p>You have reached the maximum capacity that was set for this trip. If you want to
                        add a new crew member, you have to remove someone else or to increase the maximum capacity of the trip.</p>
                    </div>
                  </div>
                <% else %>
                  <div class="case-container"><!-- Case 1 : Select one of your available mates -->
                    <div >
                      <h4 class="text-center"><i class="fa-solid fa-clipboard-check"></i>&nbsp; <strong>Option 1</strong></h4>
                      <% @available_mates = @user.mates - @trip.mates %>
                        <p>Choose a crew member from the list of your available mates</p>
                      <% if @available_mates.empty? %>
                        <p class="text-center"><em>Your list of available mates is empty. You first need to create them.</em></p>
                      <% end %>
                        <% @available_mates.each do |mate| %>
                          <% unless mate.is_user && mate.user == current_user %>
                            <% display_name = "#{mate.first_name} #{mate.last_name}" %>
                          <% else %>
                            <% display_name = "Me (#{mate.first_name} #{mate.last_name})" %>
                          <% end %>
                          <%= simple_form_for([@user, @trip, @enrollment], data: {turbo: false}) do |f| %>
                          <%= f.input :mate_id, as: :hidden, input_html: { value: mate.id } %>
                          <div class="text-center">
                            <%= f.submit "#{display_name}", class: "crew-member-button" %>
                          </div>
                          <% end %>
                        <% end %>
                        <p style="margin-top: 8px"><i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i> If you wish to register someone as skipper, you should share them the trip (option 3) so they create an account and
                        fill in their nautical CV themself.</p>
                    </div>
                  </div>
                  <div class="case-container"><!-- Case 2 : Create a mate -->
                    <div>
                      <h4 class="text-center"><i class="fa-solid fa-user-plus"></i>&nbsp;<strong>Option 2</strong>
                      </h4>
                      <!-- If the current user did not register himself as mate -->
                      <% if @user.mates.find{ |mate| mate.is_user } == nil %>
                      <p>
                        If you want to add yourself to the trip, first you have to register your personal information.
                        <%= link_to new_user_mate_path(@user, is_user: true, origin_page: trip_path(@trip.id)) do %>
                          <div class="addition-button" style="font-size: 18px" data-action="click->dropdown-reveal#revealContent">
                            <i class="fa-solid fa-circle-plus"></i> Fill in my info
                          </div>
                        <% end %>
                      </p>
                      <% end %>
                      <p>
                        Add a crew member with their personal info! They don't need to have an account or be in your existing list of mates.
                      </p>
                      <%= link_to new_user_mate_path(@user, is_user: false, origin_page: trip_path(@trip.id)) do %>
                        <div class="addition-button" style="font-size: 18px" data-action="click->dropdown-reveal#revealContent">
                          <i class="fa-solid fa-circle-plus"></i> Create a new mate
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="case-container"><!-- Case 3 : Invite someone -->
                    <div>
                      <h4 class="text-center"><i class="fa-solid fa-share-from-square"></i>&nbsp; <strong>Option 3</strong></h4>
                      <p>
                        Invite anybody to collaborate on the trip! They will be able to add themselves or their friends/family members to the trip, just like you.
                      </p>
                      <div class="share-button sending-invitation-button" data-action="click->modal-reveal#toggleWindow">
                        <span><i class="fa-solid fa-share-from-square"></i> Share this trip </span>
                      </div>
                    </div>
                  </div>
                <% end %>

              <!-- Modal for invitation  -->
              <div id="myModal" class="modal-window display-none" data-modal-reveal-target="modalWindow">
                <!-- Modal content -->
              <div class="modal-content">
                <span class="close" data-action="click->modal-reveal#toggleWindow">&times;</span>
                <h3 class="text-center">Share this trip to a friend</h3><br/>
                <p>Send an invitation to someone so they will be able to add themselves and their mates (children, partner, etc...) to the trip.</p>
                <%= simple_form_for [@user, @trip, @invitation] do |f| %>
                  <%= f.input :receiver_email, label: "Please enter their email" %>
                  <div class="flex-link-container">
                  <%= f.submit "Send invitation", class: "button-main" %>
                  </div>
                <% end %>
              </div>
              </div>

              </div>
            </div>
          </div>
        <h2 class="text-center" style="margin: 32px 0">Crew List (<%= count %>)</h2>


          <div name="invisible-div-to-add-crew-members">
            <div class="display-none" data-dropdown-reveal-target="content">

            </div>
          </div>
          <% @trip.mates.each do |mate|%>
            <div class="profile-container-mates" data-controller="dropdown-reveal">
              <div class="results-header dropdown-header" data-action="click->dropdown-reveal#revealContent">
                <h3 class="skipper-name" style="display: inline">
                  <% if mate.is_user && mate.user_id == current_user.id %>
                    Me
                  <% else %>
                    <%= "#{mate.first_name} #{mate.last_name}" %>
                  <% end %>
                  <% if @trip.skipper_id == mate.user_id && mate.is_user %>
                      <em>- skipper&nbsp;</em>
                      <i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>
                  <% end %>
                </h3>
                  <i class="caret-down fa-solid fa-angle-down"></i>
              </div>
              <div class="invisible-div display-none" data-dropdown-reveal-target="content">
                <div class="grid-container">
                  <div class="left-column"><p>First name</p></div><div class="right-column"><p><%= mate.first_name%></p></div>
                  <div class="left-column"><p>Last name</p></div><div class="right-column"><p><%= mate.last_name%></p></div>
                  <div class="left-column"><p>Date of birth</p></div><div class="right-column"><p><%= mate.date_of_birth.strftime("%d %b %Y")%></p></div>
                  <div class="left-column"><p>Address</p></div><div class="right-column"><p><%= mate.address%></p></div>
                  <div class="left-column"><p>Phone number</p></div><div class="right-column"><p><%= mate.phone_number%></p></div>
                  <div class="left-column"><p>Nationality</p></div><div class="right-column"><p><%= mate.nationality%></p></div>
                  <div class="left-column"><p>Country of residence</p></div><div class="right-column"><p><%= mate.country_of_residence %></p></div>
                  <div class="left-column"><p>Passport_number</p></div><div class="right-column"><p><%= mate.passport_number%></p></div>
                  <div class="left-column"><p>expiration_date</p></div><div class="right-column"><p><%= mate.expiration_date.strftime("%d %b %Y")%></p></div>
                </div>
                <div class="flex-link-container">
                  <!-- <%= link_to "Edit", edit_user_mate_path(@user.id, mate.id), class: "button-main" %> -->
                  <div class="link-invisible-div text-center">
                    <% if mate.is_user %>
                      <div class="switch-container" >
                        <% if @trip.skipper_id == mate.user_id %>
                          <%= simple_form_for([@user, @trip], data: {turbo: false}) do |f| %>
                          <%= f.input :skipper_id, as: :hidden, input_html: { value: nil } %>
                            <div class="text-center" style="margin: 32px 16px">
                              <%= button_tag type: 'submit' , class: "crew-member-button negative-button" do %>
                                <i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp; <%= "Remove #{mate.first_name}'s role as skipper" %>
                              <% end %>
                            </div>
                          <% end %>
                        <% else %>
                          <!-- <input type="checkbox" id="switch" /><label for="switch"></label> -->
                          <%= simple_form_for([@user, @trip], data: {turbo: false}) do |f| %>
                          <%= f.input :skipper_id, as: :hidden, input_html: { value: mate.user_id } %>
                          <div class="text-center" style="margin: 32px 16px">
                            <%= button_tag type: 'submit' , class: "crew-member-button" do %>
                              <i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp; <%= "Set #{mate.first_name} as skipper" %>
                            <% end %>
                          </div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                    <span class="edit-target">
                      <%= link_to edit_user_mate_path(@user.id, mate.id, is_user: mate.is_user, origin_page: trip_path(@trip.id)) do %>
                        <i class="fa-solid fa-pen-clip"></i>
                          <span> edit info</span>
                      <% end %>
                      &nbsp;
                    </span>
                    <span class="delete-target">
                      &nbsp;
                      <% enrollment = Enrollment.find_by(mate: mate, trip: @trip) %>
                      <%= link_to enrollment_path(enrollment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class="fa-solid fa-trash"></i>
                          <span> Remove from this trip&nbsp;</span>
                      <% end %>
                    </span>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to "Back to your trips", user_trips_path(@user), class: "button-main"%>
<% end %>
