<% if @trip.creator_id == current_user.id %>
  <div class="page-container">
    <!-- Trip card -->
      <div class="trip-card">
        <div class="trip-photo-box">
          <% if @trip.photo.attached? %>
            <%= cl_image_tag(@trip.photo.key, class: "mini-trip-photo") %>
          <% else %>
            <%= image_tag asset_path("default_trip_photo.jpeg"), class: "mini-trip-photo" %>
          <% end %>
        </div>
        <div class="trip-summary-box">
          <h3><%= @trip.country %></h3>
          <% origin = @trip.creator == current_user ?  "me" : @trip.creator.nickname %>
          <span class="justify-right-element"> Created by <%= origin %></span>
          <p><%= @trip.start_date.strftime("%a, %d %b %Y") %> → <%= @trip.end_date.strftime("%a, %d %b %Y") %></p>
          <% @trip.mates.length == 1 ? word = "mate" : word = "mates" %>
          <p> <%= "#{@trip.mates.length} #{word}"%></p>
        </div>
      </div>

    <% @trip.mates.each do |mate|%>
      <div class="mate-card">
        <div class="mate-name-box">
          <%= mate.first_name %> <%= mate.last_name %>
        </div>
      </div>
    <% end %>
    <%= link_to "Edit", edit_user_trip_path(@trip) %>
  </div>
<% else %>
  <%= link_to "Back to your trips", user_trips_path(@user)%>
<% end %>
