<% if @trip.creator_id == current_user.id || @invited_users.include?(@user.id) %>
  <div class="page-container">
    <!-- Trip card -->

    <div class="trip-show-card" data-controller="modal-reveal">
      <div style="display: flex; flex-wrap: wrap">
        <div class="left-box">
          <div class="trip-photo-box">
            <% if @trip.photo.attached? %>
              <%= cl_image_tag(@trip.photo.key, class: "mini-trip-photo") %>
            <% else %>
              <%= image_tag asset_path("default_trip_photo.jpg"), class: "mini-trip-photo" %>
            <% end %>
          </div>
          <div class="trip-summary-box">
            <h2><%= @trip.country %></h2>
            <p><%= @trip.start_date.strftime("%a, %d %b %Y") %> → <%= @trip.end_date.strftime("%a, %d %b %Y") %></p>
            <% count = 0 %>
            <% unless @trip.mates == nil %>
              <% count = @trip.mates.length %>
            <% end %>
            <% count == 1 ? participant_word = "participant" : participant_word = "participants" %>
            <p>
              <%= "#{count} #{participant_word} (max #{@trip.max_capacity})" %>
            </p>
            <% unless @skipper == nil %>
              <p><i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp;Skipper:&nbsp;<%= "#{@skipper.first_name} #{@skipper.last_name}" %></p>
            <% end %>
          </div>
        </div>
        <div class="right-box">
          <% origin = @trip.creator == current_user ?  "me" : @trip.creator.nickname %>
          <div style="text-align: right; padding: 0 32px">
            <span> Created by<br/>
            <strong><%= origin %></strong>
            </span>
          </div>
          <div>
            <div class="share-button sending-invitation-button" data-action="click->modal-reveal#toggleWindow">
              <span><i class="fa-solid fa-share-from-square"></i> Share this trip </span>
            </div>
            <div style="text-align: right; padding: 0 32px">
              <span class="edit-target">
                <%= link_to edit_user_trip_path(@trip) do %>
                  <i class="fa-solid fa-pen-clip"></i>
                  Edit the trip
                <% end %>
              </span><br>
              <span class="delete-target">
                <%=link_to [@user, @trip], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-trash"></i>
                  Delete the trip
                <% end %>
              </span>
            </div>
          </div>
        </div>

        <!-- Modal for invitation  -->
        <div id="myModal" class="modal-window display-none" data-modal-reveal-target="modalWindow">
          <!-- Modal content -->
          <%= render "shared/invitation_modal" %>
        </div>

      </div>

      <!-- Mates (crew list) -->
      <div id="crew-list-container">


        <% count = 0 %>
        <% unless @trip.mates == nil %>
          <% count = @trip.mates.length %>
        <% end %>
        
         <%# Backend code for validating trip %>
        <%= form_with url: submit_summary_path, method: :post do |form| %>
          <%= form.hidden_field :trip, :value => @trip.id %>
          <%= form.text_field :recipient %>
          <%= form.submit "submit" %>
        <% end %>

        <h2 class="text-center">Crew List (<%= count %>)</h2>

          <!-- Div where we enroll crew members or add new mates -->
          <div class="profile-container-mates" data-controller="dropdown-reveal">
            <div class="results-header dropdown-header add-crew-member-button" data-action="click->dropdown-reveal#revealContent">
              <h3 style="display: inline"><i class="fa-solid fa-circle-plus"></i> Add a crew member </h3>
                <i class="caret-down fa-solid fa-angle-down"></i>
            </div>

            <div class="invisible-div display-none" data-dropdown-reveal-target="content">
              <div class="multi-case-container">

                <% if count >= @trip.max_capacity %>
                  <div class="case-container negative-button"><!-- Case 0 : Max capacity reached -->
                    <div >
                      <h4 class="text-center"><i class="fa-solid fa-triangle-exclamation"></i>&nbsp; <strong>Maximum capacity reached</strong></h4>
                      <% @available_mates = @user.mates - @trip.mates %>
                        <p>You have reached the maximum capacity that was set for this trip. If you want to
                        add a new crew member, you have to remove someone else or to increase the maximum capacity of the trip.</p>
                    </div>
                  </div>
                <% else %>
                  <div class="case-container"><!-- Case 1 : Select one of your available mates -->
                    <div >
                      <h4 class="text-center"><i class="fa-solid fa-clipboard-check"></i>&nbsp; <strong>Option 1</strong></h4>
                      <% @available_mates = @user.mates - @trip.mates %>
                        <p>Choose a crew member from the list of your available mates</p>
                      <% if @available_mates.empty? %>
                        <p class="text-center"><em>Your list of available mates is empty. You first need to create them.</em></p>
                      <% end %>
                        <% @available_mates.each do |mate| %>
                          <%= simple_form_for([@user, @trip, @enrollment], data: {turbo: false}) do |f| %>
                          <%= f.input :mate_id, as: :hidden, input_html: { value: mate.id } %>
                          <div class="text-center">
                            <%= f.submit "#{mate.first_name} #{mate.last_name}", class: "crew-member-button" %>
                          </div>
                          <% end %>
                        <% end %>
                        <p><i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i> If you wish to register someone as skipper, you should share them the trip (option 3) so they create an account and
                        fill in their nautical CV themself.</p>
                    </div>
                  </div>
                  <div class="case-container"><!-- Case 2 : Create a mate -->
                    <div>
                      <h4 class="text-center"><i class="fa-solid fa-user-plus"></i>&nbsp;<strong>Option 2</strong>
                      </h4>
                      <!-- If the current user did not register himself as mate -->
                      <% if @user.mates.find{ |mate| mate.is_user } == nil %>
                      <p>
                        If you want to add yourself to the trip, first you have to register your personal information.
                        <%= link_to new_user_mate_path(@user, is_user: true, origin_page: trip_path(@trip.id)) do %>
                          <div class="addition-button" style="font-size: 18px" data-action="click->dropdown-reveal#revealContent">
                            <i class="fa-solid fa-circle-plus"></i> Fill in my info
                          </div>
                        <% end %>
                      </p>
                      <% end %>
                      <p>
                        Add a crew member with their personal info! They don't need to have an account or be in your existing list of mates.
                      </p>
                      <%= link_to new_user_mate_path(@user, origin_page: trip_path(@trip.id)) do %>
                        <div class="addition-button" style="font-size: 18px" data-action="click->dropdown-reveal#revealContent">
                          <i class="fa-solid fa-circle-plus"></i> Create a new mate
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="case-container"><!-- Case 3 : Invite someone -->
                    <div>
                      <h4 class="text-center"><i class="fa-solid fa-share-from-square"></i>&nbsp; <strong>Option 3</strong></h4>
                      <p>
                        Invite anybody to collaborate on the trip! They will be able to add themselves or their friends/family members to the trip, just like you.
                      </p>
                      <div class="share-button sending-invitation-button" data-action="click->modal-reveal#toggleWindow">
                        <span><i class="fa-solid fa-share-from-square"></i> Share this trip </span>
                      </div>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        <h2 class="text-center" style="margin: 32px 0">Crew List (<%= count %>)</h2>


          <div name="invisible-div-to-add-crew-members">
            <div class="display-none" data-dropdown-reveal-target="content">

            </div>
          </div>
          <% @trip.mates.each do |mate|%>
            <div class="profile-container-mates" data-controller="dropdown-reveal">
              <div class="results-header dropdown-header" data-action="click->dropdown-reveal#revealContent">
                <h3 class="skipper-name" style="display: inline">
                  <% if mate.is_user && mate.user_id == current_user.id %>
                    Me
                  <% else %>
                    <%= "#{mate.first_name} #{mate.last_name}" %>
                  <% end %>
                  <% if @trip.skipper_id == mate.user_id && mate.is_user %>
                      <em>- skipper&nbsp;</em>
                      <i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>
                  <% end %>
                </h3>
                  <i class="caret-down fa-solid fa-angle-down"></i>
              </div>
              <div class="invisible-div display-none" data-dropdown-reveal-target="content">
                <div class="grid-container">
                  <div class="left-column"><p>First name</p></div><div class="right-column"><p><%= mate.first_name%></p></div>
                  <div class="left-column"><p>Last name</p></div><div class="right-column"><p><%= mate.last_name%></p></div>
                  <div class="left-column"><p>Date of birth</p></div><div class="right-column"><p><%= mate.date_of_birth.strftime("%d %b %Y")%></p></div>
                  <div class="left-column"><p>Address</p></div><div class="right-column"><p><%= mate.address%></p></div>
                  <div class="left-column"><p>Phone number</p></div><div class="right-column"><p><%= mate.phone_number%></p></div>
                  <div class="left-column"><p>Nationality</p></div><div class="right-column"><p><%= mate.nationality%></p></div>
                  <div class="left-column"><p>Country of residence</p></div><div class="right-column"><p><%= mate.country_of_residence %></p></div>
                  <div class="left-column"><p>Passport_number</p></div><div class="right-column"><p><%= mate.passport_number%></p></div>
                  <div class="left-column"><p>expiration_date</p></div><div class="right-column"><p><%= mate.expiration_date.strftime("%d %b %Y")%></p></div>
                </div>
                <div class="flex-link-container">
                  <!-- <%= link_to "Edit", edit_user_mate_path(@user.id, mate.id), class: "button-main" %> -->
                  <div class="link-invisible-div text-center">
                    <% if mate.is_user %>
                      <div class="switch-container" >
                        <% if @trip.skipper_id == mate.user_id %>
                          <%= simple_form_for([@user, @trip], data: {turbo: false}) do |f| %>
                          <%= f.input :skipper_id, as: :hidden, input_html: { value: nil } %>
                            <div class="text-center" style="margin: 32px 16px">
                              <%= button_tag type: 'submit' , class: "crew-member-button negative-button" do %>
                                <i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp; <%= "Remove #{mate.first_name}'s role as skipper" %>
                              <% end %>
                            </div>
                          <% end %>
                        <% else %>
                          <!-- <input type="checkbox" id="switch" /><label for="switch"></label> -->
                          <%= simple_form_for([@user, @trip], data: {turbo: false}) do |f| %>
                          <%= f.input :skipper_id, as: :hidden, input_html: { value: mate.user_id } %>
                          <div class="text-center" style="margin: 32px 16px">
                            <%= button_tag type: 'submit' , class: "crew-member-button" do %>
                              <i class="skipper-icon fa-sharp fa-solid fa-dharmachakra"></i>&nbsp; <%= "Set #{mate.first_name} as skipper" %>
                            <% end %>
                          </div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                    <span class="edit-target">
                      <%= link_to edit_user_mate_path(@user.id, mate.id, is_user: mate.is_user, origin_page: trip_path(@trip.id)) do %>
                        <i class="fa-solid fa-pen-clip"></i>
                          <span> edit info</span>
                      <% end %>
                      &nbsp;
                    </span>
                    <span class="delete-target">
                      &nbsp;
                      <% enrollment = Enrollment.find_by(mate: mate, trip: @trip) %>
                      <%= link_to enrollment_path(enrollment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class="fa-solid fa-trash"></i>
                          <span> Remove from this trip&nbsp;</span>
                      <% end %>
                    </span>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="link-invisible-div">
        <%= link_to "/users/#{@user.id}/trips/#{@trip.id}/summary.pdf" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-pdf" viewBox="0 0 16 16">
            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
            <path d="M4.603 12.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.701 19.701 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.187-.012.395-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.065.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.716 5.716 0 0 1-.911-.95 11.642 11.642 0 0 0-1.997.406 11.311 11.311 0 0 1-1.021 1.51c-.29.35-.608.655-.926.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.27.27 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.647 12.647 0 0 1 1.01-.193 11.666 11.666 0 0 1-.51-.858 20.741 20.741 0 0 1-.5 1.05zm2.446.45c.15.162.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.881 3.881 0 0 0-.612-.053zM8.078 5.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
          </svg>
            <span>pdf</span>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to "Back to your trips", user_trips_path(@user), class: "button-main"%>
<% end %>
