<div class="page-container">

  <h1 class="mate-title text-center">My Mates</h1>
  <br/>
  <p><i class="fa-solid fa-circle-info"></i>
    Once someone is registered as a mate, you can add them to the crew list of any trip they will acompany you to as crew members.
  </p>
  <!-- <p><i class="fa-solid fa-circle-info"></i>
    However, if you want someone to be registered as skipper of a specific trip, you need to share them
    the trip. They will receive an email to create an account and fill in their nautical CV on CrewsIn.com
  </p> -->
  <% if @mates == nil || @mates.length == 0 %>
    <p>You have no mates yet.</p>
  <% end %>
  <br/>

  <%= link_to new_user_mate_path(is_user: false) do %>
    <div class="addition-button" data-action="click->modal-reveal#toggleWindow">
      <i class="fa-solid fa-circle-plus"></i> Add a new mate
    </div>
  <% end %>



  <% @mates.each do |mate| %>
    <div class="profile-container-mates" data-controller="dropdown-reveal">
        <div class="results-header dropdown-header" data-action="click->dropdown-reveal#revealContent">
          <h1 style="display: inline"><%= "#{mate.first_name} #{mate.last_name}" %> </h1>
            <i class="caret-down fa-solid fa-angle-down"></i>
        </div>
      <div class="invisible-div display-none" data-dropdown-reveal-target="content">
        <div class="grid-container">
          <div class="left-column"><p>First name</p></div><div class="right-column"><p><%= mate.first_name%></p></div>
          <div class="left-column"><p>Last name</p></div><div class="right-column"><p><%= mate.last_name%></p></div>
          <div class="left-column"><p>Date of birth</p></div><div class="right-column"><p><%= mate.date_of_birth.strftime("%d %b %Y")%></p></div>
          <div class="left-column"><p>Address</p></div><div class="right-column"><p><%= mate.address%></p></div>
          <div class="left-column"><p>Phone number</p></div><div class="right-column"><p><%= mate.phone_number%></p></div>
          <div class="left-column"><p>Nationality</p></div><div class="right-column"><p><%= mate.nationality%></p></div>
          <div class="left-column"><p>Country of residence</p></div><div class="right-column"><p><%= mate.country_of_residence %></p></div>
          <div class="left-column"><p>Passport_number</p></div><div class="right-column"><p><%= mate.passport_number%></p></div>
          <div class="left-column"><p>expiration_date</p></div><div class="right-column"><p><%= mate.expiration_date.strftime("%d %b %Y")%></p></div>
        </div>
        <div class="flex-link-container">
          <!-- <%= link_to "Edit", edit_user_mate_path(@user.id, mate.id), class: "button-main" %> -->
          <div class="link-invisible-div">
          <%= link_to edit_user_mate_path(@user.id, mate.id, is_user: false) do %>
            <span class="edit-target">
            <i class="fa-solid fa-pen-clip"></i>
               Edit this mate
            <% end %>
          </span>
          </div>
          <div class="link-invisible-div">
            <%= link_to mate_path(mate), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <span class="delete-target">
                <i class="fa-solid fa-trash"></i>
                Delete this mate
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>
</div>



<!-- <i class="fa-solid fa-pen-to-square"></i> -->
