<% Mate.where(user: @user).each do |mate| %>
  <h3><%= link_to mate.first_name, mate_path(mate) %></h3>
  <%= mate.first_name %>
  <%= mate.date_of_birth %>
  <%= link_to "Edit", edit_user_mate_path(@user, mate) %>
  <%= link_to "DELETE", mate_path(mate), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
