<div class="page-container">

  <h1 class="mate-title text-center">My Mates</h1>
  <br/>
  <p>You can add a Mate's information to a trip without them having an account.</p>
  <% if @mates == nil || @mates.length == 0 %>
    <p>You have no mates yet.</p>
  <% end %>


  <% @mates.each do |mate| %>
    <div class="profile-container" data-controller="dropdown-reveal">
        <div class="results-header" data-action="click->dropdown-reveal#revealContent">
          <h1 style="display: inline"><%= "#{mate.first_name} #{mate.last_name}" %> </h1>
            <i class="caret-down fa-solid fa-angle-down"></i>
        </div>
      <div class="invisible-div display-none" data-dropdown-reveal-target="content">
        <div class="grid-container">
          <div class="left-column"><p>First name</p></div><div class="right-column"><p><%= mate.first_name%></p></div>
          <div class="left-column"><p>Last name</p></div><div class="right-column"><p><%= mate.last_name%></p></div>
          <div class="left-column"><p>Date of birth</p></div><div class="right-column"><p><%= mate.date_of_birth.strftime("%d %b %Y")%></p></div>
          <div class="left-column"><p>Address</p></div><div class="right-column"><p><%= mate.address%></p></div>
          <div class="left-column"><p>Phone number</p></div><div class="right-column"><p><%= mate.phone_number%></p></div>
          <div class="left-column"><p>Nationality</p></div><div class="right-column"><p><%= mate.nationality%></p></div>
          <div class="left-column"><p>Country of residence</p></div><div class="right-column"><p><%= mate.country_of_residence %></p></div>
          <div class="left-column"><p>Passport_number</p></div><div class="right-column"><p><%= mate.passport_number%></p></div>
          <div class="left-column"><p>expiration_date</p></div><div class="right-column"><p><%= mate.expiration_date.strftime("%d %b %Y")%></p></div>
        </div>
        <div class="flex-link-container">
          <!-- <%= link_to "Edit", edit_user_mate_path(@user.id, mate.id), class: "button-main" %> -->
          <div class="link-invisible-div">
          <%= link_to edit_user_mate_path(@user.id, mate.id) do %>
            <i class="fa-solid fa-pen-to-square"></i>
              <span> edit</span>
            <% end %>
          </div>
          <div class="link-invisible-div">
            <%= link_to mate_path(mate), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
              <span> delete </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to "+ Add a new mate", new_user_mate_path(is_user: false), class: "button-main"%>

</div>



<!-- <i class="fa-solid fa-pen-to-square"></i> -->
