<div class="central-container">

  <div class = "text-center">
    <h2>Sign up</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :nickname,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "nickname" }%>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

  <div class= "text-center">
    <br>
    <br>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'button-main' %>
        </div>
      <% end %>

    <br>
      <span class="login-signup">Have an account already?<%= link_to " Log in", new_user_session_path, class: "gray", style: "font-size: 16px" %><br /></span>

  </div>
</div>
