<div class = prof-container>
  <h1>Welcome, <%= @user.nickname.capitalize %></h1>


    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, gravity: :face, class:"profile-pic"%>
    <% else %>
      <%= image_tag asset_path("blank-prof.jpg"), class:"profile-pic"%>
    <% end %>

  <div data-controller="profile-form">
    <label class="add-button" style="
        bottom: 98.5;
        bottom: 99.5;
        bottom: 2px;
        top: 416.845;
        top: 374px;
        right: 576px;
        left: 787px;
        ">
      <i class="fa-solid fa-plus center"></i>

      <span style="display:none;">
          <%= simple_form_for @user, html: {class: "d-none", data: { profile_form_target: "form" }} do |f| %>
            <%= f.input :photo, as: :file, input_html: { data: {action: "change->profile-form#submitForm"} } %>
            <%= f.submit %>
        <% end %>
      </span>
    </label>
  </div>
</div>

<div class = buttons-container>

<% if @user_as_mate == nil %>
<!-- When the user does not have is corresponding mate and needs to create it -->
  <%= link_to "My info", new_user_mate_path(@user.id, is_user: true), class: "button-main" %>
<% else %>
<!-- When the user already has is corresponding mate -->
  <%= link_to "My info", edit_user_mate_path(@user.id, @user_as_mate.id, is_user: true), class: "button-main" %>
<% end %>

  <button class="button-main" role="button">My Trips</button>
  <%= link_to "My mates", user_mates_path(@user.id), class: "button-main" %>
  <button class="button-main" role="button">My CV</button>
</div>
