<div class="sidebar parent">
  <div class="sidebar-logo-section">
    <%= tag.div class: "sidebar-logo" %>
  </div>
  <div name="sidebar-new-trip" class="sidebar-section centered">
    <div class="sidebar-new-trip">
      <%= tag.div class: "icon-new-trip" %>
    </div>
  </div>
  <div name="sidebar-buttons" class="sidebar-section">
    <%= link_to user_trips_path(current_user.id) do %>
      <div class="sidebar-button">
        <%= image_tag 'icon-flag.svg', class: "sidebar-icon" %>
        <div class="sidebar-button-text">Trips</div>
      </div>
    <% end %>
    <div class="sidebar-button">
      <%= image_tag 'icon-export.svg', class: "sidebar-icon" %>
      <div class="sidebar-button-text">Export</div>
    </div>
    <div class="sidebar-button">
      <%= image_tag 'icon-bell.svg', class: "sidebar-icon" %>
      <div class="sidebar-button-text">Smth</div>
    </div>
    <%= link_to user_path(current_user.id) do %>
      <div class="sidebar-button">
        <%= image_tag 'icon-user.svg', class: "sidebar-icon" %>
        <div class="sidebar-button-text">Profile</div>
      </div>
    <% end %>
  </div>
  <div name="sidebar-settings" class="sidebar-section">
    <div class="sidebar-button">
      <%= image_tag 'icon-settings.svg', class: "sidebar-icon" %>
      <div class="sidebar-button-text">Settings</div>
    </div>
        <div class="sidebar-button">
      <%= image_tag 'icon-logout.svg', class: "sidebar-icon" %>
      <div class="sidebar-button-text">Exit</div>
    </div>
  </div>
  <div name="sidebar-back" class="sidebar-section sidebar-collapse-section">
    <%= image_tag 'collapse_side_bar.svg', class: "sidebar-collapse", data: {sidebar_target: "sidebarButton", action:"click->sidebar#toggle"} %>
  </div>
</div>
