<div class="page-container">
<div class="category-container" data-controller="dropdown-reveal">
  <div class="results-header dropdown-header" data-action="click->dropdown-reveal#revealContent">
    <% count = 0
    unless @pending_invitations.empty?
      count = @pending_invitations.length
    end
    %>
    <h1 style="display: inline">Your invitations (<%= count %>)</h1>
    <i class="caret-down fa-solid fa-angle-down" data-dropdown-reveal-target="arrow"></i>
  </div>
  <div class="invisible-div" data-dropdown-reveal-target="content">
    <% if @pending_invitations.empty? %>
      <p>When other users share their trip with you, you will be able to collaborate!</p>
    <% else %>
      <% @pending_invitations.each do |invitation| %>
      <!-- Trip card -->
        <div class="trip-card">
          <div class="left-box">
            <div class="trip-photo-box">
              <% if invitation.trip.photo.attached? %>
                <%= cl_image_tag(invitation.trip.photo.key, class: "mini-trip-photo") %>
              <% else %>
                <%= image_tag asset_path("default_trip_photo.jpeg"), class: "mini-trip-photo" %>
              <% end %>
            </div>
            <div class="trip-summary-box">
              <h2><%= invitation.trip.country %></h2>
              <p><%= invitation.trip.start_date.strftime("%a, %d %b %Y") %> → <%= invitation.trip.end_date.strftime("%a, %d %b %Y") %></p>
              <% invitation.trip.mates.length == 1 ? word = "mate" : word = "mates" %>
              <p> <%= "#{invitation.trip.mates.length} #{word}"%></p>
            </div>
          </div>
          <div class="right-box">
          <% origin = invitation.trip.creator == current_user ?  "me" : invitation.trip.creator.nickname %>
            <div style="text-align: right; padding: 0 32px">
              <span> Created by<br/>
                <strong><%= origin %></strong>
              </span>
            </div>
            <div>
              <%= link_to invitation_path(invitation), data: {turbo_method: :patch} do %>
                <div class="share-button accept-invitation-button">
                  <span><i class="fa-solid fa-circle-check"></i> Accept </span>
                </div>
              <% end %>
              <%= link_to invitation_path(invitation), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to decline this invitation?"} do %>
                <div class="share-button decline-invitation-button">
                  <span style="color: $danger-red !important"><i class="fa-solid fa-circle-xmark"></i> Decline </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
