<div class="page-container">
<div class="category-container" data-controller="dropdown-reveal">
  <div class="results-header dropdown-header" data-action="click->dropdown-reveal#revealContent">
    <% count = 0
    unless @invited_trips == nil
      count = @invited_trips.length
    end
    %>
    <h1 style="display: inline">Your invitations (<%= count %>)</h1>
    <i class="caret-down fa-solid fa-angle-down" data-dropdown-reveal-target="arrow"></i>
  </div>
  <div class="invisible-div" data-dropdown-reveal-target="content">
    <% unless @invitations == nil
      @invited_trips.each do |invited_trip| %>
      <!-- Trip card -->
        <div class="trip-card">
          <div class="left-box">
            <%= invited_trip do %>
            <div class="trip-photo-box">
              <% if invited_trip.photo.attached? %>
                <%= cl_image_tag(invited_trip.photo.key, class: "mini-trip-photo") %>
              <% else %>
                <%= image_tag asset_path("default_trip_photo.jpeg"), class: "mini-trip-photo" %>
              <% end %>
            </div>
            <% end %>
            <div class="trip-summary-box">
              <%= invited_trip do %>
                <h3><%= invited_trip.country %></h3>
              <% end %>
              <p><%= invited_trip.start_date.strftime("%a, %d %b %Y") %> → <%= invited_trip.end_date.strftime("%a, %d %b %Y") %></p>
              <% invited_trip.mates.length == 1 ? word = "mate" : word = "mates" %>
              <p> <%= "#{invited_trip.mates.length} #{word}"%></p>
            </div>
          </div>
          <div class="right-box">
            <% origin = invited_trip.creator == current_user ?  "me" : invited_trip.creator.nickname %>
              <span> Created by<br/>
              <strong><%= origin %></strong>
              </span>
          </div>
        </div>
      <% end %>
     <% end %>
  </div>
