<!DOCTYPE html>
<html>
  <head>
    <title>CrewsIn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
  </head>
  <body>
    <div class="application-container sidebar-small" data-controller="sidebar">
      <% if current_user %>
      <div class="sidebar-container">
        <%= render "shared/sidebar" %>
      </div>
      <% end %>
      <%= render "shared/flashes" %>
      <div class="content-box">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
